<div class="sign-in-bg">
    <div class="sign-block">
        <form method="post" action="/auth/signup" class="form">

            <label for="name">name</label>
            <input class="input" type="text" id="name" name="name" value="test name"> <br>
            <label for="nickname">nickname</label>
            <input class="input" type="text" id="nickname" name="nickname" value="nickname"> <br>
            <label for="email">email</label>
            <input class="input" type="email" id="email" name="email" value="test@email.com"> <br>
            <label for="password">password</label>
            <input class="input" type="password" id="password" name="password" value="12345"> <br>
            <button class="btn">Create my account</button>
        </form>
        <p>
            Already got an account ? <br>
            <a class="sign-in-up-btn sign-in-btn" href="/auth/signin">Sign in!</a>
        </p>
    </div>
</div>