          {{#if isLoggedIn}}
            <a href="/auth/signout" class="hover-style">Log out</a>
          {{/if}}
      <div>
        {{#unless isLoggedIn}}
        <a  href="/signin" id="nav_login" class="button-ternary flexed-item nav-end-item hover-style">
          <span class="btn-text">Sign in</span>
        </a>
        <a  href="/signup" id="nav_login" class="button-ternary flexed-item nav-end-item hover-style">
          <span class="btn-text">Sign up</span>
        </a>
        {{/unless}}
    
    {{!-- ATTENTION A BIEN RECONNECTER AVEC LE MIDDLEWARE --}}