
<div id="nav-bar-container">
    <img id="nav-bar-img" src="{{user.profilPicture}}" alt="">
    <h1 id="nav-bar-h1">Hello {{user.name}}</h1>
    <div id='nav-bar-ul'>
        <ul>
            <li><a class="nav-bar-a" href="/profile">My current exchanges</a></li>
            <li><a class="nav-bar-a" href="/profile/previouscourses"> Courses History</a></li>
            <li><a class="nav-bar-a" href="/profile/skills">My Skills</a></li>
            <li><a class="nav-bar-a" href="/profile/settings">My Account details</a></li>
        </ul>
    </div>
</div>

{{!-- user.name ne marche pas --}}