<ul>
    <li><a href="/profile">profile</a></li>
<li><a href="/profile/settings">My Account details</a></li>
<li><a href="/profile/skills">My Skills</a></li>
<li><a href="/profile/previouscourses"> Courses History</a></li>
</ul>