<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="js/manageSearch.js"></script>
  </head>
  <body>
    <nav>Welcome to the layout</nav>
    {{{body}}}
  </body>
</html>
