<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/flash-messages.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/manageSearch.js"></script>
    <script type="module" src="/js/auth.js"></script>
  </head>
  <body>
    <div class="page-container">
    {{{body}}}
    </div>
  </body>
</html>
