<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="stylesheets/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="js/manageSearch.js"></script>
  </head>
  <body>
    <div id="page-container">
    {{{body}}}
    </div>
  </body>
</html>
