<h1>Exchange your skills with Table Round</h1>

{{!-- <div id="user-create">
    <input type="text" placeholder="search a skill" class="input username" value="toto">
    
    <select class="level">
        <option value="starter">starter</option>
        <option value="elementary">elementary</option>
        <option value="intermediate">intermediate</option>
        <option value="advanced">advanced</option>
        <option value="expert">expert</option>
    </select>
    
</div> --}}
<hr>
<button id="fetch-all-users">fetch users</button>
<input id="search-skill" type="text" placeholder="search a skill">
<select id="search-level">
{{!-- <option value="starter" disabled selected>Starter</option> --}}
<option value="starter">starter</option>
<option value="elementary">elementary</option>
<option value="intermediate">intermediate</option>
<option value="advanced">advanced</option>
<option value="expert">expert</option>
</select>
<div id="test"></div>


<div id="home-search-result">
    
</div>

{{!-- <table id="users-list">
    <thead>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>email</th>
            <th>role</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table> --}}