    <link rel="stylesheet" href="stylesheets/main.css" />

<div id="partials">
    <nav>
        {{#if isLoggedIn}}
            <a href="/profile" class="hover-style">My Profile</a>
            <span>|</span>
            <a href="/auth/signout" class="hover-style">Log Out</a>
        {{/if}}
        {{#unless isLoggedIn}}
            <a href="/auth/signin">Sign-In</a>
            <span>|</span>
            <a href="/auth/signup">Sign-Up</a>
        {{/unless}}
    </nav>
</div>

<div id="home-global-container">
    <div id="title-box">
        <h1>Exchange your skills with Table Ronde</h1>
    </div>

    <div id="search-general">
        <div id="zbeulRecherche">
            
            <p>You want to learn about :</p>
                <input id="search-skill" type="text" placeholder="guitar, yoga, javascript ...">
            <p>Filter by level :</p>    
                <select id="search-level">
                    {{!-- <option value="starter" disabled selected>Starter</option> --}}
                    <option value="starter">starter</option>
                    <option value="elementary">elementary</option>
                    <option value="intermediate">intermediate</option>
                    <option value="advanced">advanced</option>
                    <option value="expert">expert</option>
                </select>
                <div id="test"></div>

        </div>

        <div id="home-search-result">

        </div>
    </div>
</div>


