<h1>Welcome to your previous exchange Flo :blush:</h1>

<div class="hbsChangingPage">
    <div class="coursDonne">
        <div class="champData">
            {{#each exchanges}}
                <p class="activity">Activity : {{this.skillsName}}</p>
                <p class="student">Student : {{this.student}}</p>
            {{/each}}            
        </div>
    </div>
    <div class="coursPris">
        <div class="champData">
            <p class="activity"></p>
            <p class="student"></p>
            <p class="rebooker">Rebooker</p>
        </div>
    </div>
</div>