<div id="profile-nav-bar">
    {{> profileNavBar}}
    {{> profileLoginNavBar}}
    
</div>


<div id="profile-right-block">

{{#each userInfo}}
<p>name :{{this.name}}</p>
<p>Nickname :{{this.nickname}}</p>
<p>email :{{this.email}}</p>
{{/each}}
<p>hours  :{{userHours}}</p>
</div>