<div id="profile-nav-bar">
    {{> profileNavBar}}

</div>


<div class="profile-right-block">
    <div class="partial-login-logout">
        {{> profileLoginNavBar}}
    </div>
    <div class="skills-block">
        {{#each userInfo}}
        <p class="user-infos">Name :{{this.name}}</p>
        <p class="user-infos">Nickname :{{this.nickname}}</p>
        <p class="user-infos">Email :{{this.email}}</p>
        {{/each}}
        <p class="user-infos">Hours :{{userHours}}</p>
    </div>
</div>