<form method="post" action="/profile/{{_id}}/skills/create" class="form">
    <h2>Add a new skill</h2>
    <label class="label">Name</label>
    <input class="input" type="text" name="name" />
    <label for="category" class="label">Category</label>
    <select name="category" id="category">
        <option value="gardening">starter</option>
        <option value="sports">elementary</option>
        <option value="mechanics">intermediate</option>
        <option value="music">advanced</option>
        <option value="cooking">expert</option>
        <option value="computer science">expert</option>
        <option value="school homework">expert</option>
        <option value="other">expert</option>
    </select>
    <label for="level" class="label">Level</label>
    <select name="level" id="level">
        <option value="starter">starter</option>
        <option value="elementary">elementary</option>
        <option value="intermediate">intermediate</option>
        <option value="advanced">advanced</option>
        <option value="expert">expert</option>
    </select>
    <button class="button">Add!</button>
</form>



