<form method="post" action="/profile/skills/create" class="form">
    <h2>Add a new skill</h2>
    <label class="label">Skill: </label>
    <input class="input" type="text" name="name" />
    <label for="category" class="label">Category</label>
    <select name="category" id="category">
        <option value="gardening">gardening</option>
        <option value="sports">sports</option>
        <option value="mechanics">mechanics</option>
        <option value="music">music</option>
        <option value="cooking">cooking</option>
        <option value="computerScience">computer science</option>
        <option value="schoolHomework">school homework</option>
        <option value="other">other</option>
    </select>
    <label for="level" class="label">Level</label>
    <select name="level" id="level">
        <option value="starter">starter</option>
        <option value="elementary">elementary</option>
        <option value="intermediate">intermediate</option>
        <option value="advanced">advanced</option>
        <option value="expert">expert</option>
    </select>
    <button class="button">Add!</button>
    
</form>



